<header>
    <div class="header-top">
        <a href="https://www.edf.fr" target="_blank">
            <img src="logoEDF.png" alt="EDF Logo" class="logo">
        </a>
        <form class="search-form">
            <input type="search" id="search" [placeholder]="'EDF.SEARCH_PLACEHOLDER' | translate">
        </form>
    </div>
</header>
<div class="content-wrapper">
    <aside class="sidebar">
        <div class="filter-header">
            <p>56 {{ 'EDF.RECORDS' | translate }}</p>
        </div>
        <div class="filters">
            <p class="filter-title">{{ 'EDF.FILTER_DATETIME' | translate }}</p>
            <ul>
                <li>2024</li>
                <li>Octobre</li>
                <li>15</li>
            </ul>
            <p class="filter-title">{{ 'EDF.FILTER_HOUR' | translate }}</p>
            <ul>
                <li>10</li>
            </ul>
            <p class="filter-title">{{ 'EDF.FILTER_CENTRALE' | translate }}</p>
            <ul>
                <li>GRAVELINES</li>
                <li>BLAYAIS (LE)</li>
                <li>BUGEY (LE)</li>
                <li>CATTENOM</li>
                <li>CHINON B</li>
                <li>CRUAS</li>
            </ul>
        </div>
    </aside>
    <main>
        <h1>{{ 'EDF.MAIN_TITLE' | translate }}</h1>
        <nav class="top-navigation">
            <a routerLink='informations' routerLinkActive="activ">{{ 'EDF.NAV_INFO' | translate }}</a>
            <a routerLink='tableau' routerLinkActive="activ">{{ 'EDF.NAV_TABLE' | translate }}</a>
            <a routerLink='carte' routerLinkActive="activ">{{ 'EDF.NAV_MAP' | translate }}</a>
            <a routerLink='export' routerLinkActive="activ">{{ 'EDF.NAV_EXPORT' | translate }}</a>
            <a routerLink='API' routerLinkActive="activ">{{ 'EDF.NAV_API' | translate }}</a>
        </nav>
        <section class="content">
            <div class="info-message">
                <h2>{{ 'EDF.INFO_TITLE' | translate }}</h2>
                <p>{{ 'EDF.INFO_TEXT' | translate }}</p>
            </div>
        </section>
        <app-my-map></app-my-map>
    </main>
</div>
